# Django Configuration
SECRET_KEY=your-django-secret-key-here
DEBUG=True
CSRF_TRUSTED_ORIGINS=https://portmap.livesyncapp.com

# Database Configuration (postgresql or sqlite3)
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=port_map
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Celery / Redis Configuration
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Telegram Notifications
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
